<% provide(:title, @user.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= gravatar_for @user%>
        <%= @user.name %>
      </h1>
    </section>
    <section>
      <%= render 'shared/stats' %>
      <%= render 'follow_form' if signed_in? %>
    </section>
  </aside>

  <div class="span8 show_items">
    <% if @user.microposts.any? %>
        <h3>微博 (<%= @user.microposts.count %>)</h3>
        <ol class="microposts">
          <%= render @microposts %>
        </ol>
        <%= will_paginate @microposts, renderer: BootstrapPagination::Rails%>
    <% end %>
  </div>

</div>