<tr>
  <td><%= course.course_code %></td>
  <td><%= course.course_name %></td>
  <td><%= course.exam_date %></td>
  <td><%= course.exam_hour %></td>
  <td><%= course.exam_place %></td>
  <td><%= link_to '详情', course %></td>
</tr>