<%= form_with(model: course, local: true) do |form| %>
  <% if course.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(course.errors.count, "error") %> prohibited this course from being saved:</h2>

      <ul>
      <% course.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :course_code %>
    <%= form.text_field :course_code, id: :course_course_code %>
  </div>

  <div class="field">
    <%= form.label :course_name %>
    <%= form.text_field :course_name, id: :course_course_name %>
  </div>

  <div class="field">
    <%= form.label :course_time %>
    <%= form.text_field :course_time, id: :course_course_time %>
  </div>

  <div class="field">
    <%= form.label :score %>
    <%= form.text_field :score, id: :course_score %>
  </div>

  <div class="field">
    <%= form.label :exam_date %>
    <%= form.text_field :exam_date, id: :course_exam_date %>
  </div>

  <div class="field">
    <%= form.label :exam_hour %>
    <%= form.text_field :exam_hour, id: :course_exam_hour %>
  </div>

  <div class="field">
    <%= form.label :exam_place %>
    <%= form.text_field :exam_place, id: :course_exam_place %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
