<p>你的课程是：</p>


<%= @course.course_code %>, <%= @course.course_time %> ,
<%= @course.course_name %>, <%= @course.score %> ,
<%= @course.exam_date %>, <%= @course.exam_hour %>,
<%= @course.exam_place %>