<% provide(:title, @course.course_name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= @course.course_name %>
      </h1>
      <%= render 'learn_form' if signed_in? %>
    </section>
  </aside>

  <div class="span8 show_items">
    <ul>
      <li>代码:  <%= @course.course_code %></li>
      <li>课程名字:  <%= @course.course_name %></li>
      <li>课时:  <%= @course.course_time %> </li>
      <li>学分:  <%= @course.score %></li>
      <li>考试日期:  <%= @course.exam_date %></li>
      <li>考试时间:  <%= @course.exam_hour %></li>
      <li>考试地点:  <%= @course.exam_place %></li>
    </ul>

    <% if @course.assignments.any? %>
        <h3>Assignments (<%= @course.assignments.count %>)</h3>
        <ol class="assignments">
          <%= render @assignments %>
        </ol>
    <% end %>

    <section>
      <%= form_for(@comments) do |f| %>
          <%= render 'shared/error_messages', object: f.object %>
          <div class="field">
            <%= f.text_area :content, placeholder: "Compose new micropost..." %>
          </div>
          <%= f.submit "发布", class: "btn btn-large btn-primary" %>
      <% end %>
    </section>

    <% if @course.comments.any? %>
        <h3>课程评论 (<%= @course.comments.count %>)</h3>
        <ol class="assignments">
          <%= render @comments %>
        </ol>
    <% end %>
  </div>
</div>
